.blurredMain { 
    background-color:rgba(17, 5, 5, 0.7);
    padding-left: 10%;
    color: white;
    font-size: 1.52em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.directionsMain {
    padding-left: 10%;
    color: white;
}

li {
    line-height: 1.8em;
}

.name { 
    font-family: Georgia, 'Times New Roman', Times, serif;
}