

.stafftitle {
    font-size: 3em;
    
    border: width border-style color;
}

.staffname {
	/*background-color: blue; */
	color: white;
	font-weight: bolder;
    text-decoration: none;
    
    text-shadow: 1px 1px 3px #888888;
    text-align: center;
    vertical-align: center;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2.5em;
    width: 65%;
    padding-top: 5%;

}

.staffname span{
	background-color: white;
    text-shadow: 1px 1px 3px #888888;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2.5em;
}

.staffImg {
    width: 25%;
    border-radius: 500px;

}

td {
    padding-top: 5%;
    width: 50%;

}

.blurredMain { 
    background-color:rgba(17, 5, 5, 0.7);
    padding-left: 8%;
    
}

.staffBio {
    font-size: 1.2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

@media screen  and (min-width: 501px) and (max-device-width : 1200px) {

.staffname span {
    font-size: .5em;
}

}

@media screen  and (min-width: 0px) and (max-device-width : 500px) {

    .staffname {
        font-size: .5em;
    }

    .staffBio {

font-size: .5em;
    }
}
