
body {

    background-image: url("images/Esse-FrontWide.jpg");
    background-repeat: no-repeat;
    background-size: cover;
   
}



#navbar{ 
    display:inline-block;
    width: 100%;
    /*position:absolute;*/
    
    margin-top:0px;
    white-space: nowrap;
   
    
    
}

.blurred{ 
    background-color:rgba(17, 5, 5, 0.2);
 
    
}

.mainBody 
{
    
    height: 670px;
    overflow-y: auto;
}


.styletitle { 
    
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.5em;
    color: white;
    text-shadow: 2px 2px grey;
}


.headerList { 
    padding-left: 15%;   
}

.headerListItem { 
   
    display:inline-block;
    white-space:nowrap;
    width: 10%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    padding:10px 10px;
    font-weight: bold;
}

.headerListItem a { 
    text-decoration: none;
    color: white;
}

.headerListItem a:hover { 
    color: darkgrey;
}

.logoImg {
    float: left; 
    position: absolute; 
    top: 0; left: 0; 
    opacity: .7;
}
   
@media screen  and (min-width: 501px) and (max-device-width : 1200px) {

}


@media screen and (max-device-width : 500px) {
body {
    background-image: url("images/Esse-FrontPortrait.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color:/* #d3c4be;*/ black;
    padding-top: 10%;
}
   

#navbar { 
    display: none;
    float:top;
    position: absolute; 
    z-index: 1;
    top: 15; left: 0; 
    background-color: rgba(0,0,0, .7);
    
}

#navbar ul { 
    text-align: center;
    margin-left: 10%;

}

.headerListItem {
    display: block;
    font-size: 3.5em;
    line-height: 2.6em;
    
}

.logoImg { 
    box-shadow: 2px 2px 2px;
    width: 15%;
    position: fixed;
}

.blurredMain {
 
    height: 950px;
    
}
}